.dashboardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: var(--primary-blue-color);
}

.discover {
  color: white;
}
