.notificationCard {
  height: 21px;

  padding: 6px;

  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.primary {
  background-color: var(--primary-blue-color);
}

.secondary {
  background-color: var(--main-red-color);
}

.tertiary {
  background-color: var(--primary-grey-color);
}
